package client

import (
	"context"

	"{{.domain_dash}}/{{.service_dash}}/pb"
	"google.golang.org/grpc"
)

type {{.ProtoNameTitle}}Client struct {
	pb.{{.ProtoNameTitle}}Client
}

func New{{.ProtoNameTitle}}Client(address string) (*{{.ProtoNameTitle}}Client, error) {
	conn, err := grpc.DialContext(context.Background(), address,
		grpc.WithInsecure(),
		grpc.WithDefaultServiceConfig(`{"loadBalancingConfig": [{"round_robin":{}}]}`),
	)

	if err != nil {
		return nil, err
	}

	return &{{.ProtoNameTitle}}Client{
		{{.ProtoNameTitle}}Client: pb.New{{.ProtoNameTitle}}Client(conn),
	}, nil
}
